<div style="text-align:center">
<font face="ＭＳ Ｐ明朝"><font size="7">about</font></font>
<h2>ながのCAKEha全国発送可能なケーキ屋さんです。</h2>
<h2>お子様からお年寄りの方まで召し上がりいただくよう、</h2>
<h2>様々なバリエーションを用意しております。</h2>
<h2>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</h2>
<h2>ぜひご注文ください。</h2>
<p><%= image_tag 'kake1.jpg', size: "300x250" %></p></div>