<div class="container">
  <h2>topページ</h2>
	<div class="row">
	  <div class="col-md-3" >
	    <%= render 'public/items/info', genres: @genres %>
	  </div>
    <div class="offset-md-1 col-md-8">

    <p>ようこそ、ながのCAKEへ！</p>
    <p>このサイトは、ケーキ販売のECサイトになります。</p>
    <p>会員でない方も商品の閲覧はできますが、</p>
    <p>購入には会員登録が必要になります。</p>

    </div>
  </div>
  <div class="row">
    <div class="offset-md-4 col-md-8">
    <h2>新着商品</h2>

    </div>
  </div>
</div>