<div class="container">
	<div class="row">
	  <div class="bg-secondary text-dark">
	    <h2>注文履歴詳細top</h2>
	  </div>
	  <div class="offset-md-1 col-md-10 offset-md-1">

        <table class="table">
          <thead>
            <tr>
              <th>購入日時</th>
              <th>購入者</th>
              <th>注文個数</th>
              <th>注文ステータス</th>
            </tr>
          </thead>
        <tbody>


        </tbody>

      </table>

          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
    </div>
  </div>
</div>